body {
    font-family: Arial, sans-serif;
    background-color: #cfbff7;
}

label {
    display: block;
    margin-bottom: 12px;
}

input, select, textarea {
    display: block;
    width: 100%;
    margin-top: 5px;
}

    input:focus,
    select:focus,
    textarea:focus {
        border: 2px solid black;
        outline: none;
        background-color: #fafba1;
    }

    .invalid {
        border: 2px solid black;
        background-color: #FFC0CB;
    }

input[type="radio"] {
    display: inline;
    width: auto;
}

.buttons {
    text-align: center;
    margin-top: 20px;
}
